@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:100,400,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,400,700');

h1 {
	font-family: $main-font-upper;
	font-weight: 100;
}

h2 {
	font-family: $main-font-upper;
	font-weight: 100;
}

p {


}

a {


}

