

// colors
$white: #ffffff;

// sizes


// fonts

$main-font: 'Alegreya Sans', sans-serif;
$main-font-upper: 'Alegreya Sans Sc', sans-serif;


$borderColor: rgba(255, 255, 255, 0.2);
$lineColor: rgba(255, 255, 255, 1);

$backgroundColor: linear-gradient(135deg, #a90329 0%, #8f0222 44%, #6d0019 100%);
