@import '../../styles/vars';

.pitch-container {
	background: black;
	height: 100vh;
	width: 100vw;
	padding: 50px;

	.pitch-container__mask {
		border: 1px dashed rgba(255, 255, 255, 0.3);
		height: 100%;
		width: 100%;
		position: relative;

		&:after {
			position: absolute;
			left: 0;
			top: 0;
			width: 50%;
			height: 100%;
			border-right: 1px dashed rgba(255, 255, 255, 0.3);
			content: '';
		}
	}
}