.score-board {
	width: 50%;
	height: 100%;
	position: absolute;
	font-size: 15vw;
	display: flex;
	align-items: center;
	text-align: center;
	color: white;
	justify-content: center;
	opacity: 0.3;

	&.left {
		left: 0;
	}

	&.right {
		right: 0;
	}
}